extends ../layouts/master_login
include ../../mixins/mixins

block content
  form.form-signin.form-horizontal
      h1 Well this is awkward..
      p The server went a little belly-up
      p= header
      +form-button('Lets go back home', '/booking', 'btnHome')
