extends ../layouts/master
include ../../mixins/mixins

block header
    label Bookings

block loggedIn
    a(href="#", class="navbar-link") Signed in as Mark Otto

block content
    form.row.col-xs-12.workarea.form-validate(id="bookings", ng-controller="CalendarCtrl", ng-init='initManage()')
        br
        .row
            .col-sm-3
            .col-sm-6
                +form-input-calendar('cal-nav', 'Date:', 'dd/mm/yyyy', '20/07/2015')
            .col-sm-2
                +form-input-search-min('text', 'cliSearch', 'Search client...', '')
        br
        .row
            .col-sm-1
                .pull-right
                    +form-button('<', '#', 'btn-cal-prev')
            .col-sm-10
                .row
                    .col-sm-1.nopadding
                        h3 Time
                        div.times.calendar(ui-calendar="uiConfig.calendar", ng-model="eventSources")
                    .col-sm-11
                        .row
                            .col-sm-4.nopadding
                                h3 Cherise
                                div.employee.calendar(ui-calendar="uiConfig.calendar1", ng-model="eventSources", ng-click="indicate(1)")
                            .col-sm-4.nopadding
                                h3 Sam
                                div.employee.calendar(ui-calendar="uiConfig.calendar2", ng-model="eventSources", ng-click="indicate(2)")
                            .col-sm-4.nopadding
                                h3 Mandy
                                div.employee.calendar(ui-calendar="uiConfig.calendar3", ng-model="eventSources", ng-click="indicate(3)")
            .col-sm-1
                +form-button('>', '#', 'btn-cal-next')
        br
        //- Pure functionality objects
        div
            p(ng-if="loading") Loading&hellip;
            p eventSources:
                span {{eventSources}}
            p alertMessage:
                span {{alertMessage}}
            p uiConfig:
                span {{uiConfig}}
            p events.new:
                span {{events.new}}
            p productHistory:
                span {{productHistory}}
            p {{cities}}
            p {{provinces}}
            p {{notificationMethods}}

