extends ../layouts/master
include ../../mixins/mixins

block header
  label Add booking

block loggedIn
  a(href="#", class="navbar-link") Signed in as Mark Otto

block content
    form.row.col-xs-12.workarea.form-validate(id="bookingAdd", ng-controller="BookingController", ng-init='initAdd(' + datetime + ',"' + stylist + '",' + eid + ')')
        .row
            .col-sm-1
            .col-sm-11
                h3 New booking details
                br

        .row
            .col-md-1
            .col-md-10.form-horizontal
                .grouphead
                    +form-group('Booking details')
                .groupbox
                    +ng-input-combobox('client', 'Client:', 'booking.cid', 'Select a client', 'client.Client_ID as client.fullname for client in clients', false, false, 'generateReference()')
                    input.btn.btn-primary(type="button", value="New client", ng-click='newClient()')
                    +ng-input-text('stylist', 'Stylist:', 'booking.efullname', '', false, true, '1', '50')
                    +ng-input-text('bookingDate', 'Booking date:', 'booking.date', '', false, true, '1', '50')
                    +ng-input-text('bookingTime', 'Booking time:', 'booking.time', '', false, true, '1', '50')
                br

                .grouphead
                    +form-group('Services')
                .groupbox
                    .row
                        .col-md-1
                        .col-md-10.table-responsive
                            table.table(id="booking-services" st-table='booking.services')
                                thead
                                    tr
                                        th
                                        th Service
                                        th Hairlength
                                        th Duration
                                tbody
                                    tr(ng-repeat="row in booking.services")
                                        td
                                            .btn.btn-default(type="button" ng-click="removeService($index)") Remove Service
                                        td
                                            +ng-input-combobox-min('service', 'row.sid', 'Select a service', 'service.Service_id as service.Name for service in services', false, false, 'updateService($index)')
                                        td
                                            +ng-input-combobox-min('hairlength', 'row.hlid', 'Select a hair length', 'hairlength.HairLength_id as hairlength.Description for hairlength in hairlengths', false, false, 'updateService($index)')
                                        td {{row.duration}}
                                    tr
                                        td
                                            .btn.btn-default(type="button" ng-click="addService()") Add Service
                br

                .grouphead
                    +form-group('Additional details')
                .groupbox
                    +ng-input-text('duration', 'Booking duration:', 'booking.duration', '15 minutes', false, false, '0', '50')
                    slider(floor="10" ceiling="300" step="5" precision="2" ng-model="booking.duration" translate="timeFormatting")
                    +ng-input-text('reference', 'Booking reference:', 'booking.reference', 'please select a client', false, true, '0', '50')
                    slider(floor="100" ceiling="1000" step="50" precision="2" ng-model="booking.cost")

        br
        .row
            .col-md-1
            .col-md-10.form-group.workarea
                ul.nav.nav-pills.pull-right
                    li(role='presentation')
                        input.btn.btn-primary(type="button", value="Save", ng-click='postBooking()')
                    li(role='presentation')
                        input.btn.btn-default(type="button", value='Cancel', ng-click='cancel()')
                        br

        //- Pure functionality objects
        //- div
        //-     p(ng-if="loading") Loading&hellip;
        //-     p clients:
        //-         span {{clients}}
        //-     p suburbs
        //-         span {{suburbs}}
        //-     p booking:
        //-         span {{booking}}
        //-     p {{hairlengths}}
        //-     p {{hairlengthservices}}
