extends ../layouts/master
include ../../mixins/mixins

block header
    label Bookings

block loggedIn
    a(href="#", class="navbar-link") Signed in as !{user.name}

block content
    form.row.col-xs-12.workarea.form-validate(id="bookings", ng-controller="BookingController", ng-init='initManage(' + q.eid + ',"' + q.view + '",' + q.date + ','+user.uid+')')
        .row
            .col-md-12
                .grouphead
                    +form-group('Booking details')
                .groupbox
                    .row
                        .col-md-5
                            +ng-input-combobox-alt('employee', 'View calendar for:', 'settings.eid', 'Select an employee', 'employee.Employee_ID as employee.fullname for employee in employees', false, false, 'refresh()')
                        .col-md-5
                            +ng-input-text-alt('bookingSearch', 'Search for booking:', 'searchCriteria.booking', 'name, surname or reference', false, false, '0', '50')
                        .col-md-2
                            .nav.nav-pills.pull-right
                                ul.nav.nav-pills
                                    li(role='presentation')
                                        input.btn.btn-primary(type="button", value="Search", data-toggle="modal" data-target="#BookingSearch", ng-click='searchBooking()')
        br
        .row
            .col-sm-12
                .calendar(ui-calendar="uiConfig.calendar", ng-model="eventSources", calendar="myCalendar")

        .modal.fade#BookingSearch
            .modal-dialog
                .modal-content.form-group.form-horizontal
                    .modal-header
                        h4.modal-title Search results
                    .modal-body
                        p
                            input(type="checkbox" ng-model="searchoptions.Completed")
                            | &nbsp; Show completed bookings
                        table.table.table-hover(id="employee-search" st-table='searchResult')
                            thead
                                tr
                                    th Date
                                    th Time
                                    th Client
                                    th Stylist
                                    th Reference
                            tbody
                                tr(ng-repeat="row in searchResult | filter:searchoptions" ng-click="selectRow(row.Booking_id)")
                                    td {{row.DateTime | date:"yyyy-MM-dd"}}
                                    td {{row.DateTime | date:"HH:mm"}}
                                    td {{row.clientFName}} {{row.clientLName}}
                                    td {{row.employeeFName}} {{row.employeeLName}}
                                    td {{row.ReferenceNumber}}
                    .modal-footer
                        ul.nav.nav-pills.pull-right
                            li(role='presentation')
                                input.btn.btn-default(type="button", value="Cancel", data-dismiss="modal", ng-click="restartTimer()")

