extends ../layouts/master
include ../../mixins/mixins

block header
    label Bookings

block loggedIn
    a(href="#", class="navbar-link") Signed in as Mark Otto

block content
    form.row.col-xs-12.workarea.form-validate(id="bookings", ng-controller="CalendarCtrl", ng-init='initManage()', calendar="myCalendar")
        br
        .row
            .col-sm-3
            .col-sm-6
                +form-input-calendar('cal-nav', 'Date:', 'dd/mm/yyyy', '20/07/2015')
            .col-sm-2
                +form-input-search-min('text', 'cliSearch', 'Search client...', '')
        br
        .row
            .col-sm-12
                .calendar(ui-calendar="uiConfig.calendar", ng-model="eventSources")
        br
        //- Pure functionality objects
        div
            p(ng-if="loading") Loading&hellip;
            p eventSources:
                span {{eventSources}}
            p alertMessage:
                span {{alertMessage}}
            p uiConfig:
                span {{uiConfig}}
            p events.new:
                span {{events.new}}
            p bookings:
                span {{bookings}}
            p booking:
                span {{booking}}
            p {{provinces}}
            p {{notificationMethods}}

