extends ../layouts/master
include ../../mixins/mixins

block header
    label View sub-letter

block loggedIn
    a(href='#', class='navbar-link') Signed in as Mark Otto

block content
    form.row.col-xs-12.workarea.form-validate(id="sub-letterView" method="post" action="/sub-letters")
        .row
            .col-sm-1
            .col-sm-11
                h3 View details for !{BusinessName}
                br

        .row
            .col-md-1
            .col-md-10.col-sm-12.form-horizontal
                +form-input-hidden('Sub_Letter_id', Sub_Letter_id)
                +form-input-text('BusinessName', 'Business name:', 'Sub-letter business name', BusinessName, true, true, '3', '50')
                +form-input-text('ContactFName', 'Contact name:', 'Sub-letter contact name', ContactFName, true, true, '3', '50')
                +form-input-text('ContactLName', 'Contact surname:', 'Sub-letter contact surname', ContactLName, true, true, '3', '50')
                +form-input-text('ContactNumber', 'Contact number:', 'Sub-letter contact number', ContactNumber, true, true, '2', '15')
                +form-input-email('ContactEmail', 'Contact email:', 'Sub-letter contact email', ContactEmail, true, true, '5', '100')
                +form-input-currency('Amount', 'Rent:', 'Sub-letter rent', Amount, true, true)
                +form-input-calendar('DateTime', 'Start date:', '', DateTime)

        +workbreak()
        .row
            .col-sm-1
            .col-sm-10.form-group.workarea
                ul.nav.nav-pills.pull-right
                    li(role='presentation')
                        input.btn.btn-primary.cancel(type="submit" name="action" value="Update")
                    li(role='presentation')
                        input.btn.btn-primary.cancel(type="submit" name="action" value="Delete")
                    li(role='presentation')
                        input.btn.btn-default(type="button" onclick="window.location='/sub-letters'" value='Back')
                        br
            .col-sm-1
