extends ../layouts/master
include ../../mixins/mixins

block header
    label Manage sub-letter

block loggedIn
    a(href='#', class='navbar-link') Signed in as Mark Otto

block content
    form.workarea(id="sub-letterManage",  ng-controller="SubLetterController", ng-init="initManage()")
        .row
            .col-sm-1
            .col-sm-10
                h3 Manage Sub-letters
                br

        .row
            .col-sm-1
            .col-sm-9.form-horizontal
                +ng-input-text('businessName', 'Business name:', 'searchCriteria.businessName', 'Sub-letter business name', false, false, '0', '50')
            .col-sm-1.form-horizontal
                input.btn.btn-primary(type="button", value='Search', ng-click='searchSubLetter()')

        +workbreak()
        .row
            .col-sm-1
            .col-sm-10
              table.table.table-hover(id="subletter-search" st-table='subLetters')
                thead
                  tr
                    th
                    th Business
                    th Contact Person
                    th Contact Number
                    th Contact email
                //- each item in {{subletters}}
                tbody
                    tr(ng-repeat="row in subLetters" ng-click="selectRow(row.Sub_Letter_id)")
                        td
                            input(type="radio" name="Sub_Letter_id" ng-model="subLetter.id" value='{{row.Sub_Letter_id}}')
                        td {{row.BusinessName}}
                        td {{row.ContactFName}} {{row.ContactLName}}
                        td {{row.ContactNumber}}
                        td {{row.ContactEmail}}

        +workbreak()
        .row
            .col-sm-1
            .col-sm-10.form-group.workarea
                ul.nav.nav-pills.pull-right
                    li(role='presentation')
                        input.btn.btn-primary(type="button", value='View', ng-click='viewSubLetter()')
                    li(role='presentation')
                        input.btn.btn-default(type="button", value='Update', ng-click='updateSubLetter()')
                    li(role='presentation')
                        input.btn.btn-default(type="button", value='Delete', ng-click='deleteSubLetter()')
                    li(role='presentation')
                        input.btn.btn-default(type="button", value='Capture Payment', ng-click='capturePayment()')
                        br
            .col-sm-1

        //- Pure functionality objects
        //- div
        //-     p(ng-if="loading") Loading&hellip;
        //-     p searchCriteria: {{searchCriteria}}
        //-     p paymentMethods: {{paymentMethods}}
        //-     p subLetters: {{subLetters}}
        //-     p subLetter: {{subLetter}}
        //-     p subLetterPayments: {{subLetterPayments}}
        //-     p payment: {{payment}}


