extends ../layouts/master
include ../../mixins/mixins

block header
    label Add new sub-letter

block loggedIn
    a(href='#', class='navbar-link') Signed in as Mark Otto

block content
    form.row.col-xs-12.workarea.form-validate(id="sub-letterAdd", ng-controller="SubLetterController", ng-init="initAdd("+user.uid+")")
        .row
            .col-sm-1
            .col-sm-11
                h3 New sub-letter details
                br

        .row
            .col-md-1
            .col-md-10.col-sm-12.form-horizontal
                +ng-input-text('businessName', 'Business name:', 'subLetter.businessName', 'Sub-letter business name', true, false, '3', '50')
                +ng-input-text('contactFName', 'Contact name:', 'subLetter.contactFName', 'Sub-letter contact name', true, false, '3', '50')
                +ng-input-text('contactLName', 'Contact surname:', 'subLetter.contactLName', 'Sub-letter contact surname', true, false, '3', '50')
                +ng-input-text('contactNumber', 'Contact number:', 'subLetter.contactNumber', 'Sub-letter contact number', true, false, '2', '15')
                +ng-input-email('contactEmail', 'Contact email:', 'subLetter.contactEmail', 'Sub-letter contact email', true, false, '5', '100')
                +ng-input-currency('rent', 'Rent:', 'subLetter.rent', 'Sub-letter rent', true, false, '1', '100')
                +ng-input-calendar('startDate', 'Contract start date:', 'subLetter.startDate', 'Enter lease start date', true, false)

        +workbreak()
        .row
            .col-sm-1
            .col-sm-10.form-group.workarea
                ul.nav.nav-pills.pull-right
                    li(role='presentation')
                        input.btn.btn-primary(type="button", value="Save", ng-click='postSubLetter()')
                    li(role='presentation')
                        input.btn.btn-default(type="button", value='Cancel', ng-click='cancel()')
                        br
            .col-sm-1

        //- Pure functionality objects
        //- div
        //-     p(ng-if="loading") Loading&hellip;
        //-     p {{paymentMethods}}
        //-     p {{subLetter}}
        //-     p {{payment}}
        //-     p {{subLetter.id}}
