extends ../layouts/master
include ../../mixins/mixins

block header
    label View sub-letter

block loggedIn
    a(href='#', class='navbar-link') Signed in as Mark Otto

block content
    form.row.col-xs-12.workarea.form-validate(id="sub-letterView" method="post" action="/sub-letters")
        .row
            .col-sm-1
            .col-sm-11
                h3 View details for !{sBusinessName}
                br

        .row
            .col-md-1
            .col-md-10.col-sm-12.form-horizontal
                +form-input-hidden('sSub_Letter_id', sSub_Letter_id)
                +form-input-text('sBusinessName', 'Business name:', 'Sub-letter business name', sBusinessName, true, true, '3', '50')
                +form-input-text('sContactFName', 'Contact name:', 'Sub-letter contact name', sContactFName, true, true, '3', '50')
                +form-input-text('sContactLName', 'Contact surname:', 'Sub-letter contact surname', sContactLName, true, true, '3', '50')
                +form-input-text('sContactNumber', 'Contact number:', 'Sub-letter contact number', sContactNumber, true, true, '2', '15')
                +form-input-email('sContactEmail', 'Contact email:', 'Sub-letter contact email', sContactEmail, true, true, '5', '100')
                +form-input-currency('sAmount', 'Rent:', 'Sub-letter rent', sAmount, true, true)
                +form-input-calendar('sDateTime', 'Start date:', '', slDateTime)

        +workbreak()
        .row
            .col-sm-1
            .col-sm-10.form-group.workarea
                ul.nav.nav-pills.pull-right
                    li(role='presentation')
                        input.btn.btn-primary.cancel(type="submit" name="action" value="Update")
                    li(role='presentation')
                        input.btn.btn-primary.cancel(type="submit" name="action" value="Delete")
                    li(role='presentation')
                        input.btn.btn-default(type="button" onclick="window.location='/sub-letters'" value='Back')
                        br
            .col-sm-1
