extends ../layouts/master
include ../../mixins/mixins

block header
    label Update sub-letter

block loggedIn
    a(href='#', class='navbar-link') Signed in as Mark Otto

block content
    form.row.col-xs-12.workarea.form-validate(id="sub-letterUpdate" method="post" action="/sub-letters/update")
        .row
            .col-sm-1
            .col-sm-11
                h3 Update details for !{BusinessName}
                br

        .row
            .col-md-1
            .col-md-10.col-sm-12.form-horizontal
                +form-input-hidden('Sub_Letter_id', Sub_Letter_id)
                +form-input-text('BusinessName', 'Business name:', 'Sub-letter business name', BusinessName, true, false, '3', '50')
                +form-input-text('ContactFName', 'Contact name:', 'Sub-letter contact name', ContactFName, true, false, '3', '50')
                +form-input-text('ContactLName', 'Contact surname:', 'Sub-letter contact surname', ContactLName, true, false, '3', '50')
                +form-input-text('ContactNumber', 'Contact number:', 'Sub-letter contact number', ContactNumber, true, false, '2', '15')
                +form-input-email('ContactEmail', 'Contact email:', 'Sub-letter contact email', ContactEmail, true, false, '5', '100')
                +form-input-currency('Amount', 'Rent:', 'Sub-letter rent', Amount, true, false)
                +form-input-calendar('DateTime', 'Start date:', '', DateTime)

        +workbreak()
        .row
            .col-sm-1
            .col-sm-10.form-group.workarea
                ul.nav.nav-pills.pull-right
                    li(role='presentation')
                        input.btn.btn-primary(type="submit" name="action" value="Save")
                    li(role='presentation')
                        input.btn.btn-default(type="button" onclick="window.location='/sub-letters'" value='Cancel')
                        br
            .col-sm-1

        //Pure functionality objects
        input(type='hidden' id='btnClicked' value='none')

