extends ../layouts/master
include ../../mixins/mixins

block header
    label Add new sub-letter

block loggedIn
    a(href='#', class='navbar-link') Signed in as Mark Otto

block content
    .row
        .col-sm-1
        .col-sm-10.workarea
            h3 New sub-letter details
            form.form-horizontal
                +form-inputbox('text', 'slBusinessName', 'Business name:', 'Sub-letter business name', slBName)
                +form-inputbox('text', 'slContactFName', 'Contact name:', 'Sub-letter contact name', slCFName)
                +form-inputbox('text', 'slContactLName', 'Contact surname:', 'Sub-letter contact surname', slCLName)
                +form-inputbox('text', 'slContactNumber', 'Contact number:', 'Sub-letter contact number', slCNumber)
                +form-inputbox('email', 'slContactEmail', 'Contact email:', 'Sub-letter contact email', slCEmail)
                +form-inputbox('text', 'slRent', 'Rent:', 'Sub-letter rent', slRent)
                +form-input-calendar('slStartDate', 'Start date:', '', slStartDate)

    +workbreak()
    .row
        .col-sm-1
        .col-sm-10.form-group.workarea
            ul.nav.nav-pills.pull-right
                li(role='presentation')
                    a.btn-primary(href='/employee') Save
                li(role='presentation')
                    a.btn-primary(href='/employee') Cancel
                    br

