doctype html
html(lang="en")
  head
    title eSalon
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
  body
    .row
      .col-sm-3
        .sidebar-nav
          .navbar.navbar-default(role='navigation')
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.sidebar-navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              span.visible-xs.navbar-brand Sidebar menu
            .navbar-collapse.collapse.sidebar-navbar-collapse
              ul.nav.navbar-nav
                li.active
                  a(href='#') Menu Item 1
                li
                  a(href='#') Menu Item 2
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Example
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider
                    li.dropdown-header Nav header
                    li
                      a(href='#') Separated link
                    li
                      a(href='#') One more separated link
                li
                  a(href='#') Menu Item 4
                li
                  a(href='#')
                    | Reviews
                    span.badge 1,118
            // /.nav-collapse
      .col-sm-9
        | Main content goes here
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
