doctype html
html(lang="en")
  head
    title eSalon
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    //link(rel="stylesheet", href="/css/Markup.css")
body
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        .navbar-brand
          block header
      #bs-example-navbar-collapse-1.collapse.navbar-collapse.pull-right
        ul.nav.navbar-nav
          li.active
            block loggedIn
              a(href="#") Log in
          li
            a(href="#") Log out

  .row
    .col-sm-2(style="background-color:#987987")
      ul(class='nav nav-pills nav-stacked')
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Clients
            b.caret
          ul.dropdown-menu
            li
              a(href='#') Add new client
            li.divider
            li
              a(href='#') Manage clients
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Bookings
            b.caret
          ul.dropdown-menu
            li
              a(href='#') Add new booking
            li.divider
            li
              a(href='#') Manage bookings
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Services
            b.caret
          ul.dropdown-menu
            li
              a(href='#') Add new service
            li.divider
            li
              a(href='#') Manage Services
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Employees
            b.caret
          ul.dropdown-menu
            li
              a(href='#') Add new employee
            li.divider
            li
              a(href='#') Manage employees
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Sub-letters
            b.caret
          ul.dropdown-menu
            li
              a(href='#') Add new sub-letter
            li.divider
            li
              a(href='#') Manage sub-letters
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Administration
            b.caret
          ul.dropdown-menu
            li
              a(href='#') Manage Roles
            li.divider
            li
              a(href='#') Manage Something else
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Reports
            b.caret
          ul.dropdown-menu
            li
              a(href='#') Income Report
            li.divider
            li
              a(href='#') Expense Report
    .col-sm-10(style="background-color:#987912")
      .container
      block content

  .footer
    block footer

    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
