doctype html
html(lang="en")
    head
        title eSalon
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/Markup-login.css")

    body.container-fluid
        block content

        script(src="/bower_components/jquery/dist/jquery.min.js")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
        //script(src="/js/app.js")




