.workarea {
	background-color: #FCE0FF;
}

.table {
  background-color: #FCF0FF;
}

.nopadding {
   padding: 0 !important;
}

.treeview {
  background-color: #f5f4f5;
}

input.error {
  border-color: red;
}

label.error {
  color: red;
}
