

.grouphead {
    background-color: #C6D6CC;

    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #98B3AE;
}

.groupbox {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    padding: 7px;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid #98B3AE;
}

.form-group {
    margin-left: 6px;
    margin-right: 6px;
    padding-left: 14px;
    padding-right: 14px;
}

.table {
    background-color: #C6D6CC;
}

.nopadding {
     padding: 0 !important;
}

.treeview {
    background-color: #f5f4f5;
}

input.error {
    border-color: red;
}

label.error {
    color: red;
}

/* Help file classes*/

.help h1, .help h2, .help h3{
    color: #543368;
}

.callout {
    padding: 20px;
    padding-top: 15px;
    margin: 20px 0;
    border: 0px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.callout-success {
    border-left-color: #42D13D;
}

.callout-success h4 {
    color: #2D7D2A;
}

.callout-info {
    border-left-color: #ABEAFF;
}

.callout-info h4 {
    color: #4DAAC9;
}

.callout-warning {
    border-left-color: #FF9D2E;
}

.callout-warning h4 {
    color: #C77B24;
}

.callout-danger {
    border-left-color: #FF2617;
}

.callout-danger h4 {
    color: #BA261C;
}

body{
    position: relative;
    padding-top: 70px;
}
