extends layouts/master
include ../mixins/mixins

block header
  label Employee details for:

block loggedIn
  a(href='#', class='navbar-link') Signed in as Mark Otto

block content
    form.row.col-xs-12.workarea.form-validate(id="clientAdd", ng-controller="FixingController")
        .row
            .col-sm-1
            .col-sm-11
                h3 Details for:
                br

        .row
            .col-md-1
            .col-md-10.form-horizontal
                .grouphead
                    +form-group('Personal information')
                .groupbox
                    +ng-input-text('title', 'Name:', 'client.title', 'Mrs', false, false, '1', '50')
                    +ng-input-text('fname', 'Surname:', 'client.contactFName', 'Refiloe', true, false, '3', '50')
                    +ng-input-text('contactNumber', 'Contact number:', 'client.contactNumber', '082 555 1234', true, false, '2', '15')
                    +ng-input-email('contactEmail', 'Contact email:', 'client.contactEmail', 'rchaka@gmail.com', false, false, '5', '100')
                    +ng-input-currency('amount', 'Salary:', 'client.contactEmail', 'rchaka@gmail.com', false, false, '5', '100')
                br

                .grouphead
                    +form-group('Credentials')
                .groupbox
                    +ng-input-text('uname', 'Username:', 'client.title', 'Mrs', false, false, '1', '50')
                    +ng-input-combobox('notifyMethod', 'Role:', 'client.notificationMethod', 'Select a role', 'role.Role_ID as role.Name for role in roles', false, false)
                    +ng-input-text('title', 'Password:', 'client.password', 'password', false, false, '1', '50')

                .grouphead
                    +form-group('Address information')
                .groupbox
                    +ng-input-combobox('province', 'Province:', 'client.provinceId', 'Select a province', 'province.Province_id as province.Name for province in provinces', false, false, 'getCities()')
                    +ng-input-combobox('city', 'City:', 'client.cityId', 'Select a city', 'city.City_id as city.Name for city in cities', false, false, 'getSuburbs()')
                    +ng-input-combobox('suburb', 'Suburb:', 'client.suburbId', 'Select a suburb', 'suburb.Surburb_id as suburb.Name for suburb in suburbs', false, false)
                    +ng-input-text('line2', 'Line 2:', 'client.line2', '19 Someother street', false, false, '3', '50')
                    +ng-input-text('line1', 'Line 1:', 'client.line1', '23 Some complex', false, false, '3', '50')
                br

                .grouphead
                    +form-group('Take a picture')
                .groupbox
                    img(src='' alt='No image')
                    ul.nav.nav-pills.pull-right
                    li(role='presentation')
                        input.btn.btn-primary(type="button", value="Upload", ng-click='postClient()')

        br
        .row
            .col-md-1
            .col-md-10.form-group.workarea
                ul.nav.nav-pills.pull-right
                    li(role='presentation')
                        input.btn.btn-primary(type="button", value="Save", ng-click='employeeManage()')
                    li(role='presentation')
                        input.btn.btn-default(type="button", value='Cancel', ng-click='employeeCancel()')
                        br

