extends layouts/master
include ../mixins/mixins

block header
  label Finalize invoice

block loggedIn
  a(href="#", class="navbar-link") Signed in as Mark Otto

block content

  .row
    .col-sm-1
    .col-sm-10.workarea
      h3 Invoice details
      +form-group("Service information")
      .row
        .col-sm-2
          label Services:
        .col-sm-10
          form.form-horizontal(role="form")
            table.table.table-hover
              thead
                tr
                  th Service
                  th Quantity
                  th Price
                  th Discount
                  th Total
                  th
              tbody
                tr
                  td
                    input.form-control(type='text' id='name_1' placeholder='Service name' value='')
                  td
                    input.form-control(type='text' id='quant_1' placeholder='Quantity' value='')
                  td
                    input.form-control(type='text' id='price_1' placeholder='Price' value='')
                  td
                    input.form-control(type='text' id='disc_1' placeholder='Discount' value='')
                  td
                    input.form-control(type='text' id='total_1' placeholder='Total' value='')
                  td
                    +form-button-small-remove()
                tr
                  td
                  td
                  td
                  td
                  td
                  td
                    +form-button-small-add()
      +form-group("Product information")
      .row
        .col-sm-2
          label Products:
        .col-sm-10
          form.form-horizontal(role="form")
            table.table.table-hover
              thead
                tr
                  th Product
                  th Quantity
                  th Price
                  th Discount
                  th Total
                  th
              tbody
                tr
                  td
                    input.form-control(type='text' id='pname_1' placeholder='Product name' value='')
                  td
                    input.form-control(type='text' id='pquant_1' placeholder='Quantity' value='')
                  td
                    input.form-control(type='text' id='pprice_1' placeholder='Price' value='')
                  td
                    input.form-control(type='text' id='pdisc_1' placeholder='Discount' value='')
                  td
                    input.form-control(type='text' id='ptotal_1' placeholder='Total' value='')
                  td
                    +form-button-small-remove()
                tr
                  td
                  td
                  td
                  td
                  td
                  td
                    +form-button-small-add()

      +form-inputbox("text", "invVoucher", "Voucher:", "Voucher number", serName)

  +workbreak()
  .row
    .col-sm-1
    .col-sm-10.form-group.workarea
      ul.nav.nav-pills.pull-right
        li(role="presentation")
          a.btn-primary(href="/service") Save
        li(role="presentation")
          a.btn-primary(href="/service") Cancel
          br

