extends layouts/master
include ../mixins/mixins

block header
  label Suppliers

block loggedIn
  a(href='#', class='navbar-link') Signed in as Mark Otto

block content

  .row
    .col-sm-1
    .col-sm-10.workarea
      h3 Supplier Search
      form.form-horizontal(role='form')
        +form-group('Search Criteria')
        +form-inputbox('text', 'supName', 'Business name:', 'Search on business name', '')
        +form-combobox('supProducts', 'Product', arrSearchProducts, '')
  +workbreak
  .row
    .col-sm-1
    .col-sm-10.workarea
      table.table.table-hover
        thead
          tr
            th Business Name
            th Contact Number
            th Email
        tbody
          tr
            td= supName
            td= supContactNum
            td= supEmail
          tr
            td Tresume
            td 021 345 3456
            td lizzy@tresume.co.za
  +workbreak()
  .row
    .col-sm-1
    .col-sm-10.form-group.workarea
      ul.nav.nav-pills.pull-right
        li(role='presentation')
          a.btn-primary(href='/supplier/add') Add
        li(role='presentation')
          a.btn-primary(href='/supplier/view') View
          br
  //+workbreak()

