extends ../layouts/master
include ../../mixins/mixins

block header
  label Import Expenses

block content
    form.row.col-xs-12.workarea(id="clientUpdate", action="/api/uploadCSV", method="post", enctype="multipart/form-data")
            input(type="file", name="displayImage")
            input(type="submit", value="submit")


        //- Pure functionality objects
        //- div
        //-     p(ng-if="loading") Loading&hellip;
        //-     p clients:
        //-         span {{clients}}
        //-     p oldClient:
        //-         span {{oldClient}}
        //-     p suburbs:
        //-         span {{suburbs}}
        //-     p serviceHistory:
        //-         span {{serviceHistory}}
        //-     p productHistory:
        //-         span {{productHistory}}
        //-     p {{cities}}
        //-     p {{provinces}}
        //-     p {{notificationMethods}}
