extends ../layouts/master
include ../../mixins/mixins

block header
  label Suppliers

block loggedIn
  a(href='#', class='navbar-link') Signed in as Mark Otto

block content
    form.row.col-xs-12.workarea.form-validate(id="clientUpdate", ng-controller="SupplierController", ng-init='initManage()')
        .row
            .col-sm-1
            .col-sm-11
                h3 Manage suppliers
                br

        .row
            .col-md-1
            .col-md-10.form-horizontal
                .grouphead
                    +form-group('Search for a supplier')
                .groupbox
                    .row
                        .col-md-4
                            +ng-input-text-alt('sname', 'Business name:', 'searchCriteria.sname', 'Search on business name', false, false, '0', '50')
                        .col-md-5
                            +ng-input-text-alt('pname', 'Product name:', 'searchCriteria.pname', 'Search on products', false, false, '0', '50')
                        .col-md-3
                            .nav.nav-pills.pull-right
                                li(role='presentation')
                                    input.btn.btn-primary(type="button", value="Search", ng-click='searchSupplier()')
                                li(role='presentation')
                                    input.btn.btn-default(type="button", value='Clear', ng-click='searchClearSupplier()')

        br
        .row
            .col-md-1
            .col-md-10.table-responsive
                table.table.table-hover(id="supplier-search" st-table='suppliers')
                    thead
                        tr
                            th
                            th Business name
                            th Contact number
                            th Email
                            th Brand name
                            th Product name

                    tbody
                        tr(ng-repeat="row in suppliers" ng-click="selectRow(row.Supplier_ID)")
                            td
                                input(type="radio" name="Supplier_ID" ng-model="supplier.supplierid" value='{{row.Supplier_ID}}')
                            td {{row.Name}}
                            td {{row.ContactNumber}}
                            td {{row.Email}}
                            td {{row.BrandName}}
                            td {{row.ProductName}}

        br
        .row
            .col-md-1
            .col-md-10.form-group
                ul.nav.nav-pills.pull-right
                    li(role='presentation')
                        input.btn.btn-primary(type="button", value="Add", ng-click='addSupplier()')
                    li(role='presentation')
                        input.btn.btn-default(type="button", value='View', ng-click='viewSupplier()')
                        br

