extends ../layouts/master
include ../../mixins/mixins

block header
  label Income report

block loggedIn
  a(href='#', class='navbar-link') Signed in as Mark Otto

block content
    form.row.col-xs-12.workarea.form-validate(id="incomeReport", ng-controller="ReportController", ng-init='initInvoiceIStock()')
        .row
            .col-xs-12
                h1 Income Report
        br
        .row
            .col-md-1
            .col-md-10.form-horizontal
                .grouphead
                    +form-group('Search Income Report')
                .groupbox
                    +ng-input-calendar('dateFrom', 'Date From:', 'searchCriteria.dateFrom', '1991-08-23', false, false)
                    +ng-input-calendar('dateTo', 'Date To:', 'searchCriteria.dateTo', '1991-08-23', false, false)
                    .nav.nav-pills.pull-right
                        li(role='presentation')
                            input.btn.btn-primary(type="button", value="Search", ng-click='searchInvoice()')
                        li(role='presentation')
                            input.btn.btn-default(type="button", value='Clear', ng-click='searchClearInvoice()')

        br
        .row
            .col-xs-1.col-sm-3
            .col-xs-8.col-sm-6
                canvas.chart.chart-bar(id="bar" chart-data="data" chart-labels="labels")

        br
        .row
            .col-md-1
            .col-md-10.table-responsive
                table.table(id="StockTable")
                    thead
                        tr

                    tbody
                        tr
                            td Services
                            td
                                table.table(id="stockDetailsTable" st-table='incomeList.Service')
                                    thead
                                        tr
                                            th Date
                                            th Name
                                            th Price
                                    tbody
                                        tr(ng-repeat="row in incomeList.Service")
                                            td {{row.Date}}
                                            td {{row.Name}}
                                            td {{row.Total | currency : 'R'}}
                                        tr
                                            td
                                            td
                                            td
                                                b {{data[0][0] | currency : 'R'}}
                        tr
                            td Stock
                            td
                                table.table(id="stockDetails2Table" st-table='incomeList.Stock')
                                    thead
                                        tr
                                            th Date
                                            th Name
                                            th Price
                                    tbody
                                        tr(ng-repeat="row in incomeList.Stock")
                                            td {{row.Date}}
                                            td {{row.Name}}
                                            td {{row.Total | currency : 'R'}}
                                        tr
                                            td
                                            td
                                            td
                                                b {{data[0][1] | currency : 'R'}}

                        tr
                            td Subletters
                            td
                                table.table(id="sublettersDetailsTable" st-table='incomeList.Subletter')
                                    thead
                                        tr
                                            th Date
                                            th Name
                                            th Price
                                    tbody
                                        tr(ng-repeat="row in incomeList.Subletter")
                                            td {{row.Date}}
                                            td {{row.Name}}
                                            td {{row.Total | currency : 'R'}}
                                        tr
                                            td
                                            td
                                            td
                                                b {{data[0][2] | currency : 'R'}}

        //- Pure functionality objects
        div
            p invoice: {{invoice}}
            p invoice.iservice: {{invoice.iservice}}
            p incomeList.Service: {{incomeList.Service}}
            p incomeList.Stock: {{incomeList.Stock}}
            p invoice.isubletter: {{invoice.isubletter}}
            p incomeList.Subletter: {{incomeList.Subletter}}
            p labels: {{labels}}
            p data: {{data}}
            p series: {{series}}
