extends ../layouts/master
include ../../mixins/mixins

block header
  label Stock Level report

block loggedIn
  a(href='#', class='navbar-link') Signed in as Mark Otto

block content
    form.row.col-xs-12.workarea.form-validate(id="stocklevelReport", ng-controller="ReportController", ng-init='initStocklevel()')
        .row
            .col-md-1
            .col-md-10
                h1 Current stock level report
                h4 {{date}}

        //- br
        //- .row
        //-     .col-xs-1.col-sm-3
        //-     .col-xs-8.col-sm-6
        //-         canvas.chart.chart-bar(id="bar" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick")

        br
        .row
            .col-md-1
            .col-md-10.table-responsive
                table.table(id="stocklevelTable" st-table='stocklevel')
                    thead
                        tr
                            th Brandname
                            th ProductName
                            th Quantity
                    tbody
                        tr(ng-repeat="row in stocklevel")
                            td {{row.BrandName}}
                            td {{row.ProductName}}
                            td {{row.Quantity}}

        //- Pure functionality objects
        //- div
        //-     p(ng-if="loading") Loading&hellip;
        //-     p labels : {{labels}}
        //-     p series : {{series}}
        //-     p data : {{data}}
