extends ../layouts/master
include ../../mixins/mixins

block header
  label Clients

block loggedIn
  a(href='#', class='navbar-link') Signed in as Mark Otto

block content
    form.row.col-xs-12.workarea.form-validate(id="clientUpdate", ng-controller="ClientController", ng-init='initManage()')
        .row
            .col-sm-1
            .col-sm-11
                h3 Manage clients
                br

        .row
            .col-md-1
            .col-md-10.form-horizontal
                .grouphead
                    +form-group('Search for a client')
                .groupbox
                    .row
                        .col-md-4
                            +ng-input-text-alt('fname', 'Name:', 'searchCriteria.contactFName', 'Search on client name', false, false, '0', '50')
                        .col-md-5
                            +ng-input-text-alt('lname', 'Surname:', 'searchCriteria.contactLName', 'Search on client surname', false, false, '0', '50')
                        .col-md-3
                            .nav.nav-pills.pull-right
                                li(role='presentation')
                                    input.btn.btn-primary(type="button", value="Search", ng-click='searchClient()')
                                li(role='presentation')
                                    input.btn.btn-default(type="button", value='Clear', ng-click='searchClearClient()')

        br
        .row
            .col-md-1
            .col-md-10.table-responsive
                table.table.table-hover(id="client-search" st-table='clients')
                    thead
                        tr
                            th
                            th Title
                            th Name
                            th Surname
                            th Date of birth
                    tbody
                        tr(ng-repeat="row in clients" ng-click="selectRow(row.Client_ID)")
                            td
                                input(type="radio" name="Client_ID" ng-model="client.clientid" value='{{row.Client_ID}}')
                            td {{row.Title}}
                            td {{row.Name}}
                            td {{row.Surname}}
                            td {{row.DateOfBirth | date: 'yyyy-MM-dd'}}

        br
        .row
            .col-md-1
            .col-md-10.form-group
                ul.nav.nav-pills.pull-right
                    li(role='presentation')
                        input.btn.btn-primary(type="button", value="Add", ng-click='addClient()')
                    li(role='presentation')
                        input.btn.btn-default(type="button", value='View', ng-click='viewClient()')
                    li(role='presentation')
                        input.btn.btn-default(type="button", value='Export client list', ng-click='exportClients()')
                        br

        //- Pure functionality objects
        //- div
        //-     p(ng-if="loading") Loading&hellip;
        //-     p clients:
        //-         span {{clients}}
        //-     p oldClient:
        //-         span {{oldClient}}
        //-     p suburbs:
        //-         span {{suburbs}}
        //-     p serviceHistory:
        //-         span {{serviceHistory}}
        //-     p productHistory:
        //-         span {{productHistory}}
        //-     p {{cities}}
        //-     p {{provinces}}
        //-     p {{notificationMethods}}
