extends ../layouts/master
include ../../mixins/mixins

block header
  label Add new employee

block loggedIn
  a(href='#', class='navbar-link') Signed in as Mark Otto

block content
  .row
    .col-sm-1
    .col-sm-10.workarea
      h3 New employee details
      form.form-horizontal(role='form')
        +form-group('Change password')
        +form-inputbox('password', 'empOldPassword', 'Old Password:', 'Employee password', empPassword)
        +form-inputbox('password', 'empNewPassword', 'New Password:', 'New password', '')
        +form-inputbox('password', 'empConfirmPassword', 'Confirm Password:', 'Confirm password', '')
  +workbreak()
  .row
    .col-sm-1
    .col-sm-10.form-group.workarea
      ul.nav.nav-pills.pull-right
        li(role='presentation')
          a.btn-primary(href=lastpage) Save
        li(role='presentation')
          a.btn-primary(href=lastpage) Cancel
          br
