extends ../layouts/master
include ../../mixins/mixins

block header
  label Update

block content
    form.row.col-xs-12.workarea.form-validate(id="employeeUpdate", ng-controller="EmployeeController", ng-init="initUpdate(" + p.id + ","+user.uid+")")
        .row
            .col-sm-1
            .col-sm-11
                h3 Update employee details
                br

        .row
            .col-md-1
            .col-md-10.form-horizontal
                .grouphead
                    +form-group('Personal information')
                .groupbox
                    +ng-input-text('cfname', 'Name:', 'employee.cfname', 'Employee name', true, false, '3', '50')
                    +ng-input-text('clname', 'Surname:', 'employee.clname', 'Employee surname', true, false, '3', '50')
                    +ng-input-text('cnumber', 'Contact number:', 'employee.cnumber', 'Employee contact number', true, false, '2', '15')
                    +ng-input-email('cemail', 'Contact email:', 'employee.cemail', 'Employee contact email', false, false, '5', '100')
                    +ng-input-currency('amount', 'Salary:', 'employee.salary', 'Employee salary', false, false)
                br

                .grouphead
                    +form-group('Credentials')
                .groupbox
                    +ng-input-text('uname', 'Username:', 'user.name', 'Enter username', true, false, '4', '50')
                    +ng-input-combobox('role', 'Role:', 'user.roleId', 'Select a role', 'role.Role_ID as role.Name for role in roles', true, false)
                    //- +ng-input-text('title', 'Password:', 'user.password', 'password', false, true, '4', '50')
                    .row
                        .col-md-3.col-sm-4
                        .col-md-9.col-sm-8
                            ul.nav.nav-pills
                                li(role='presentation')
                                    input.btn.btn-primary(type="button", value="Change password", data-toggle="modal" data-target="#changePassword")
                br

                .grouphead
                    +form-group('Address information')
                .groupbox
                    +ng-input-combobox('province', 'Province:', 'address.provinceId', 'Select a province', 'province.Province_id as province.Name for province in provinces', false, false, 'getCities()')
                    +ng-input-combobox('city', 'City:', 'address.cityId', 'Select a city', 'city.City_id as city.Name for city in cities', false, false, 'getSuburbs()')
                    +ng-input-combobox('suburb', 'Suburb:', 'address.suburbId', 'Select a suburb', 'suburb.Surburb_id as suburb.Name for suburb in suburbs', false, false)
                    +ng-input-text('line2', 'Line 2:', 'address.line2', '19 Someother street', false, false, '3', '50')
                    +ng-input-text('line1', 'Line 1:', 'address.line1', '23 Some complex', false, false, '3', '50')
                br

                .grouphead
                    +form-group('Upload a picture')
                .groupbox
                    div(ng-show="uploader.isHTML5")
                        <!-- 3. nv-file-over uploader="link" over-class="className" -->
                        .well.my-drop-zone(nv-file-over="" uploader="uploader")
                            p Base drop zone

                    <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                    input(type="file" nv-file-select="" uploader="uploader" ng-model='employee.image')

        br
        .row
            .col-md-1
            .col-md-10.form-group.workarea
                ul.nav.nav-pills.pull-right
                    li(role='presentation')
                        input.btn.btn-primary(type="button", value="Save", ng-click='putEmployee()')
                    li(role='presentation')
                        input.btn.btn-default(type="button", value='Cancel', ng-click='cancel()')
                        br

        .modal.fade#changePassword
            .modal-dialog
                .modal-content.form-group.form-horizontal
                    .modal-header
                        h4.modal-title Change password
                    .modal-body
                        +ng-input-password('p1', 'New Password:', 'user.password', 'password', true, false, '4', '50')
                        +ng-input-password('p2', 'Confirm Password:', 'user.password2', 'password', true, false, '4', '50')
                    .modal-footer
                        ul.nav.nav-pills.pull-right
                            li(role='presentation')
                                input.btn.btn-primary(type="button", value="Change Password", ng-click='changePassword()', data-dismiss="modal")
                            li(role='presentation')
                                input.btn.btn-default(type="button", value="Cancel", data-dismiss="modal")

        //- p employee: {{employee}}
        //- p user: {{user}}
        //- p address: {{address}}
