extends ../layouts/master
include ../../mixins/mixins

block header
  label Add new employee

block loggedIn
  a(href='#', class='navbar-link') Signed in as Mark Otto

block content
    form.row.col-xs-12.workarea.form-validate(id="employeeAdd", ng-controller="EmployeeController", ng-init="initAdd()")
        .row
            .col-sm-1
            .col-sm-11
                h3 New employee details
                br

        .row
            .col-md-1
            .col-md-10.form-horizontal
                .grouphead
                    +form-group('Personal information')
                .groupbox
                    +ng-input-text('cfname', 'Name:', 'employee.cfname', 'Employee name', true, false, '3', '50')
                    +ng-input-text('clname', 'Surname:', 'employee.clname', 'Employee surname', true, false, '3', '50')
                    +ng-input-text('cnumber', 'Contact number:', 'employee.cnumber', 'Employee contact number', true, false, '2', '15')
                    +ng-input-email('cemail', 'Contact email:', 'employee.cemail', 'Employee contact email', false, false, '5', '100')
                    +ng-input-currency('amount', 'Salary:', 'employee.salary', 'Employee salary', false, false)
                br

                .grouphead
                    +form-group('Credentials')
                .groupbox
                    +ng-input-text('uname', 'Username:', 'user.name', 'Mrs', true, false, '4', '50')
                    +ng-input-combobox('role', 'Role:', 'user.roleId', 'Select a role', 'role.Role_ID as role.Name for role in roles', true, false)
                    +ng-input-text('title', 'Password:', 'user.password', 'password', true, false, '4', '50')
                br

                .grouphead
                    +form-group('Address information')
                .groupbox
                    +ng-input-combobox('province', 'Province:', 'address.provinceId', 'Select a province', 'province.Province_id as province.Name for province in provinces', false, false, 'getCities()')
                    +ng-input-combobox('city', 'City:', 'address.cityId', 'Select a city', 'city.City_id as city.Name for city in cities', false, false, 'getSuburbs()')
                    +ng-input-combobox('suburb', 'Suburb:', 'address.suburbId', 'Select a suburb', 'suburb.Surburb_id as suburb.Name for suburb in suburbs', false, false)
                    +ng-input-text('line2', 'Line 2:', 'address.line2', '19 Someother street', false, false, '3', '50')
                    +ng-input-text('line1', 'Line 1:', 'address.line1', '23 Some complex', false, false, '3', '50')
                br

                .grouphead
                    +form-group('Upload a picture')
                .groupbox
                    div(flow-init="{target: '/api/upload'}"
                     flow-files-submitted="$flow.upload()"
                     flow-file-success="$file.msg = $message")
                        .well.my-drop-zone(flow-drop flow-drag-enter="style={border:'4px solid green'}" flow-drag-leave="style={}" ng-style="style")
                            img(flow-img="$flow.files[0]")
                            p Base drop zone

                        table
                            tr(ng-repeat="file in $flow.files")
                                td {{$index+1}}
                                td {{file.name}}
                                td {{file.msg}}

                        span(flow-btn) Upload file

                    form(id="uploadForm" enctype="multipart/form-data" action="/api/upload" method="post")
                        input(type="file" name="image" fileread="employee.f")
                        input(type="button", value='Submit', ng-click='savefile()')

        br
        .row
            .col-md-1
            .col-md-10.form-group.workarea
                ul.nav.nav-pills.pull-right
                    li(role='presentation')
                        input.btn.btn-primary(type="button", value="Save", ng-click='postEmployee()')
                    li(role='presentation')
                        input.btn.btn-default(type="button", value='Cancel', ng-click='cancel()')
                        br

        p employee: {{employee}}
        p user: {{user}}
        p address: {{address}}
